<div id="ref_expensecompanymain" style="display: none;padding:10px;">
    <table id="ref_grid_expensecompanymain"></table>
    <div id="ref_gridpager_expensecompanymain"></div>
</div>
<script>
    var mutilflag = false;
    function showrefgrid_expensecompanymain(title, callback, pflag) {
        mutiflag = pflag || false;
        layer.open({
            type: 1,
            offset: '50px',
            skin: 'layui-layer-molv',
            title: title,
            area: ['450px', '450px'],
            shade: 0,
            shadeClose: false,
            content: jQuery("#ref_expensecompanymain"),
            btn: ['确定', '取消'],
            btn1: function (index) {
                var row = getSelectedRowData("ref_grid_expensecompanymain");
                if (callback) {
                    callback(row);
                }

                layer.close(index);
            }
        });
    }


    $(function () {
        $("#ref_grid_expensecompanymain").jqGrid({
            url: '../expensecompanymain/list',
            datatype: "json",
            colModel: [
                                                            {label: 'id', name: 'id', width: 50, key: true},

                                                                                {
                            label: '报销单号',
                            name: 'billno',
                            width: 80
                        }, 
                                                                                {
                            label: '部门',
                            name: 'deptid',
                            width: 80
                        }, 
                                                                                {
                            label: '申请日期',
                            name: 'applydate',
                            width: 80
                        }, 
                                                                                { label: '费用项目', name: 'enumvaluename', width: 80 }, 
                                                                                {
                            label: '报销金额',
                            name: 'expensemoney',
                            width: 80
                        }, 
                                                                                {
                            label: '报销标题',
                            name: 'title',
                            width: 80
                        }, 
                                                                                {
                            label: '详情',
                            name: 'remark',
                            width: 80
                        }, 
                                                                                { label: '收款人', name: 'fullname', width: 80 }, 
                                                                                { label: '支付方式', name: 'enumvaluename', width: 80 }, 
                                                                                {
                            label: '银行账户',
                            name: 'bankaccount',
                            width: 80
                        }, 
                                                                                { label: '单据状态', name: 'enumvaluename', width: 80 }, 
                                                                                { label: '申请人', name: 'fullname', width: 80 }, 
                                                                                {
                            label: '制单日期',
                            name: 'makedate',
                            width: 80
                        }, 
                                                                                { label: '审核人', name: 'fullname', width: 80 }, 
                                                                                {
                            label: '审核日期',
                            name: 'accdate',
                            width: 80
                        }, 
                                                                                {
                            label: '更新时间',
                            name: 'uptdate',
                            width: 80
                        }, 
                                                                                {
                            label: '流程ID',
                            name: 'pocessinstanceid',
                            width: 80
                        }
                                    ],
            viewrecords: true,
            height: 385,
            rowNum: 10,
            rowList: [10, 30, 50],
            rownumbers: true,
            rownumWidth: 25,
            autowidth: true,
            multiselect: true,
            pager: "#ref_gridpager_expensecompanymain",
            jsonReader: {
                root: "page.list",
                page: "page.currPage",
                total: "page.totalPage",
                records: "page.totalCount"
            },
            prmNames: {
                page: "page",
                rows: "limit",
                order: "order"
            },
            beforeSelectRow: function () {
                if (!mutiflag) {
                    $("#ref_grid_expensecompanymain").jqGrid('resetSelection');
                }
                return (true);
            },
            gridComplete: function () {
                //隐藏grid底部滚动条
                //$("#jqGrid").closest(".ui-jqgrid-bdiv").css({ "overflow-x" : "hidden" });
            }
        });

    });
</script>
