<!DOCTYPE html>
<html>
<head>
    <title>${comments}</title>
    #set($header='<#include "sys/header.html">')
    #set($billcomments='<#include "base/billcomments_ref.html">')
    #set($query='<@shiro.hasPermission name="'+${pathName}+':list">')
    #set($save='<@shiro.hasPermission name="'+${pathName}+':save">')
    #set($update='<@shiro.hasPermission name="'+${pathName}+':update">')
    #set($delete='<@shiro.hasPermission name="'+${pathName}+':delete">')
    #set($copybill='<@shiro.hasPermission name="'+${pathName}+':copybill">')
    #set($cancel='<@shiro.hasPermission name="'+${pathName}+':cancel">')
    #set($claim='<@shiro.hasPermission name="'+${pathName}+':claim">')
    #set($audit='<@shiro.hasPermission name="'+${pathName}+':audit">')
    #set($unaudit='<@shiro.hasPermission name="'+${pathName}+':unaudit">')
    #set($end='</@shiro.hasPermission>')
    $header
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="panel-heading">
            <el-button-group>
            $query
            <el-button type="primary" v-on:click="query"><i class="fa fa-refresh"></i>&nbsp;刷新
            </el-button>
            $end
            $query
            <el-button type="primary" v-on:click="showQueryPanel"><i class="fa fa-search"></i>&nbsp;查询
            </el-button>
            $end
            $save
            <el-button type="primary" v-on:click="add"><i class="fa fa-plus"></i>&nbsp;新增
            </el-button>
            $end
            $update
            <el-button type="primary" v-on:click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改
            </el-button>
            $end
            #if($classname.endsWith("main"))
                $copybill
                <el-button type="primary" v-on:click="copybill"><i class="fa fa-trash-o"></i>&nbsp;复制
                </el-button>
                $end

                $claim
                <el-button type="primary" v-on:click="claim"><i class="fa fa-book"></i>&nbsp;签收
                </el-button>
                $end
                $audit
                <el-button type="primary" v-on:click="audit"><i class="fa fa-book"></i>&nbsp;审核
                </el-button>
                $end
                $cancel
                <el-button type="warning" v-on:click="cancel"><i class="fa fa-trash-o"></i>&nbsp;作废
                </el-button>
                $end
            #end
            $delete
            <el-button type="danger" v-on:click="del"><i class="fa fa-trash-o"></i>&nbsp;删除
            </el-button>
            $end
            </el-button-group>

            <div v-show="showQuery">
                <el-form label-position="right" :inline="true" label-width="100px" style="padding:10px">

                    #foreach($column in $columns)
                        #if($column.columnName != $pk.columnName

                        )
                            <el-form-item label="${column.comments}">

                                #if($column.columnName.endsWith("date"))

                                    <el-date-picker style="width: 350px" type="date" placeholder="选择日期" :picker-options="pickerOptions1" v-model="q.${column.attrname}" style="width: 100%;"></el-date-picker>
                                #elseif($column.columnName.endsWith("time"))

                                    <el-date-picker style="width: 350px" type="datetime" placeholder="选择日期时间" :picker-options="pickerOptions1" v-model="q.${column.attrname}" style="width: 100%;"></el-date-picker>

                                #elseif($column.attrType=="Double"||$column.attrType=="double")

                                    <el-input-number style="width: 350px" v-model="q.${column.attrname}" :min="1" ></el-input-number>

                                #elseif($column.refType.equalsIgnoreCase("dialog"))

                                    <input style="width: 350px" v-model="q.${column.attrname}${column.refColumnName}" v-on:click="select${column.attrname}${column.refTable}"
                                           placeholder="${column.comments}" class="el-input el-input__inner"></input>

                                #elseif($column.refType.equalsIgnoreCase("dialogtree"))

                                    <input style="width: 350px" v-model="q.${column.attrname}${column.refColumnName}"  v-on:click="openRefTree${column.refTable}${column.attrname}"
                                           placeholder="${column.comments}" class="el-input el-input__inner"></input>

                                #elseif($column.refType.equalsIgnoreCase("combo")
                                )
                                    <el-select style="width: 350px" v-model="q.${column.attrname}"  filterable placeholder="请选择">
                                        <el-option
                                                v-for="item in ref_${column.refTable}"
                                                :key="item.${column.refColumnId}"
                                                :label="item.${column.refColumnName}"
                                                :value="item.${column.refColumnId}">
                                        </el-option>
                                    </el-select>
                                #elseif( $column.refType.equalsIgnoreCase("enum"))
                                    <el-select style="width: 350px" v-model="q.${column.attrname}"  filterable placeholder="请选择">
                                        <el-option
                                                v-for="item in ref_enum${column.refTable}"
                                                :key="item.${column.refColumnId}"
                                                :label="item.${column.refColumnName}"
                                                :value="item.${column.refColumnId}">
                                        </el-option>
                                    </el-select>


                                #else
                                    <el-input style="width: 350px"  v-model="q.${column.attrname}" placeholder="${column.comments}"></el-input>


                                #end

                            </el-form-item>
                        #end
                    #end

                    <el-button type="primary" icon="search" v-on:click="query">搜索</el-button>

                </el-form>

            </div>


        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">
            <el-row>
                <el-col :span="14">
            <el-button-group>
                <el-button type="primary"  v-on:click="saveOrUpdate"><i class="fa fa-save"></i>&nbsp;保存</el-button>
                <el-button type="primary"  v-on:click="reload"><i class="fa fa-times"></i>&nbsp;返回</el-button>
            </el-button-group>
                </el-col>
                <el-col :span="10">
                    #if($classname.endsWith("main"))
                        <div class="billno">单据号:{{${classname}.billno}}<span class="panel-right">制单人:{{${classname}.makeuser}} 制单日期:{{${classname}.makedate}}</span></div>
                    #end

                </el-col>
            </el-row>
        </div>
        <el-form label-position="right"  label-width="100px" style="padding:30px">

            #foreach($column in $columns)
                #if($column.columnName != $pk.columnName
                &&$column.columnName != "billno"
                &&$column.columnName != "makeuser"
                &&$column.columnName != "makedate"
                &&$column.columnName != "billstatus"
                &&$column.columnName != "accuser"
                &&$column.columnName != "accdate"
                &&$column.columnName != "uptdate"
                &&$column.columnName != "pocessinstanceid"
             )
                    <el-form-item label="${column.comments}">

                             #if($column.columnName.endsWith("date"))
                                <el-date-picker style="width: 350px" type="date" placeholder="选择日期" :picker-options="pickerOptions1" v-model="${classname}.${column.attrname}" style="width: 100%;"></el-date-picker>
                             #elseif($column.columnName.equalsIgnoreCase("remark"))
                                <el-input  type="textarea" :rows="2" style="width: 350px" type="date" placeholder="请输入内容"  v-model="${classname}.${column.attrname}" style="width: 100%;"></el-input>

                             #elseif($column.columnName.endsWith("time"))

                                    <el-date-picker style="width: 350px" type="datetime" placeholder="选择日期时间" :picker-options="pickerOptions1" v-model="${classname}.${column.attrname}" style="width: 100%;"></el-date-picker>

                            #elseif($column.attrType=="Double"||$column.attrType=="double")

                                <el-input-number style="width: 350px" v-model="${classname}.${column.attrname}" :min="1" ></el-input-number>

                            #elseif($column.refType.equalsIgnoreCase("dialog"))

                                <input style="width: 350px" v-model="${classname}.${column.attrname}${column.refColumnName}" v-on:click="select${column.attrname}${column.refTable}"
                                          placeholder="${column.comments}" class="el-input el-input__inner"></input>

                            #elseif($column.refType.equalsIgnoreCase("dialogtree"))

                                <input style="width: 350px" v-model="${classname}.${column.attrname}${column.refColumnName}"  v-on:click="openRefTree${column.refTable}${column.attrname}"
                                          placeholder="${column.comments}" class="el-input el-input__inner"></input>

                             #elseif($column.refType.equalsIgnoreCase("combo")
                                    )
                                <el-select style="width: 350px" v-model="${classname}.${column.attrname}"  filterable placeholder="请选择">
                                    <el-option
                                            v-for="item in ref_${column.refTable}"
                                            :key="item.${column.refColumnId}"
                                            :label="item.${column.refColumnName}"
                                            :value="item.${column.refColumnId}">
                                    </el-option>
                                </el-select>
                            #elseif( $column.refType.equalsIgnoreCase("enum"))
                                <el-select style="width: 350px" v-model="${classname}.${column.attrname}"  filterable placeholder="请选择">
                                    <el-option
                                            v-for="item in ref_enum${column.refTable}"
                                            :key="item.${column.refColumnId}"
                                            :label="item.${column.refColumnName}"
                                            :value="item.${column.refColumnId}">
                                    </el-option>
                                </el-select>


                             #else
                                <el-input style="width: 350px"  v-model="${classname}.${column.attrname}" placeholder="${column.comments}"></el-input>


                              #end

                    </el-form-item>
                #end
            #end

        </el-form>
    </div>
</div>


    #foreach($column in $columns)
        #if($column.refColumn && $column.refType.equalsIgnoreCase("dialog"))
            #set($ref ='<#include "')
            #set($refend='_ref.html">')
            $ref${parent}/${column.refTable}$refend
        #end
    #end

#foreach($column in $columns)
#if($column.refColumn && $column.refType.equalsIgnoreCase("dialogtree"))
<div id="treelayer${column.refTable}" style="display: none;padding:10px;">
    <ul id="refTree${column.refTable}" class="ztree"></ul>
</div>
#end
#end

$billcomments
<script src="${ctxPath}/static/js/${parent}/${pathName}.js"></script>
</body>
</html>