<!DOCTYPE html>
<html>
<head>
    <title>${comments}</title>
    #set($header='<# include "sys/header.html">')
    #set($query='<@shiro.hasPermission name="'+${pathName}+':list">')
    #set($save='<@shiro.hasPermission name="'+${pathName}+':save">')
    #set($update='<@shiro.hasPermission name="'+${pathName}+':update">')
    #set($delete='<@shiro.hasPermission name="'+${pathName}+':delete">')
    #set($end='</@shiro.hasPermission>')
    $header
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            $query
            <button class="layui-btn layui-btn-small layui-btn-normal" v-on:click="query"><i class="fa fa-search"></i>&nbsp;查询
            </button>
            $end
            $save
            <button class="layui-btn layui-btn-small layui-btn-normal" v-on:click="add"><i class="fa fa-plus"></i>&nbsp;新增
            </button>
            $end
            $update
            <button class="layui-btn layui-btn-small layui-btn-normal" v-on:click="update"><i
                    class="fa fa-pencil-square-o"></i>&nbsp;修改
            </button>
            $end
            $delete
            <button class="layui-btn layui-btn-small layui-btn-normal" v-on:click="del"><i class="fa fa-trash-o"></i>&nbsp;删除
            </button>
            $end
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <div class="layui-btn-group">
            <button  class="layui-btn layui-btn-small layui-btn-normal"  v-on:click="saveOrUpdate"  ><i class="fa fa-save"></i>保存</button>
            <button  class="layui-btn layui-btn-small layui-btn-normal"  v-on:click="reload"  ><i class="fa fa-cancel"></i>返回</button>

        </div>
        <form class="layui-form layui-form-pane">

            #foreach($column in $columns)
                #if($column.columnName != $pk.columnName)
                <div class="layui-form-item">
                        <div clacc="layui-inline">
                        <label class="layui-form-label">${column.comments}</label>
                        <div class="layui-input-inline">
                         #if($column.columnName.endsWith("date") && $column.columnName!="uptdate")
                            <input type="text" class="layui-input" lay-verify="date" v-model="${classname}.${column.attrname}" v-on:click="select${column.attrname}"
                                   placeholder="${column.comments}"/>
                         #elseif($column.attrType=="Double"||$column.attrType=="double")
                             <input type="number" class="layui-input" v-model="${classname}.${column.attrname}"
                                    placeholder="${column.comments}"/>
                         #else
                             <input type="text" class="layui-input" v-model="${classname}.${column.attrname}"
                                    placeholder="${column.comments}"/>
                         #end
                        </div>
                        </div>
                </div>
                #end
            #end

        </form>
    </div>
</div>

<script src="${ctxPath}/static/js/${pathName}/${pathName}.js"></script>
</body>
</html>