package ${package}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;
import java.util.Map;

import ${package}.dao.${className}Dao;
import ${package}.dao.${detailClassName}Dao;
import ${package}.entity.${className}Entity;
import ${package}.entity.${detailClassName}Entity;
import ${package}.service.${className}Service;
import org.springframework.transaction.annotation.Transactional;


@Service("${classname}Service")
public class ${className}ServiceImpl implements ${className}Service {
	@Autowired
	private ${className}Dao ${classname}Dao;

    @Autowired
    private ${detailClassName}Dao ${detailclassname}Dao;


    @Override
	public ${className}Entity queryObject(${pk.attrType} ${pk.attrname}){
		return ${classname}Dao.queryObject(${pk.attrname});
	}
	
	@Override
	public List<${className}Entity> queryList(Map<String, Object> map){
		return ${classname}Dao.queryList(map);
	}
	
	@Override
	public int queryTotal(Map<String, Object> map){
		return ${classname}Dao.queryTotal(map);
	}
	
	@Override
	public void save(${className}Entity ${classname}){
        for(${detailClassName}Entity item:${classname}.getDetails()){
				${detailclassname}Dao.save(item);
        }
		${classname}Dao.save(${classname});
	}
	
	@Override
	public void update(${className}Entity ${classname}){
		${detailclassname}Dao.deleteByBillNo(${classname}.getBillno());

        for(${detailClassName}Entity item:${classname}.getDetails()){
				${detailclassname}Dao.save(item);
        }

		${classname}Dao.update(${classname});
	}
	
	@Override
	public void delete(${pk.attrType} ${pk.attrname}){
		 ${className}Entity main = queryObject(${pk.attrname});
        if (main != null) {
				${classname}Dao.delete(id);

				${detailclassname}Dao.deleteByBillNo(main.getBillno());

        }

	}
	
	@Override
    public void deleteBatch(${pk.attrType}[] ${pk.attrname}s){
			${classname}Dao.deleteBatch(${pk.attrname}s);
    }

    @Override
    public void auditBatch(${pk.attrType}[] ${pk.attrname}s){
			${classname}Dao.auditBatch(${pk.attrname}s);
    }

    @Override
    public void unauditBatch(${pk.attrType}[] ${pk.attrname}s){
			${classname}Dao.unauditBatch(${pk.attrname}s);
    }
}
