<!DOCTYPE html>
<html>
<head>
    <title>${comments}</title>
    #set($header='<# include "sys/header.html">')
    #set($query='<@shiro.hasPermission name="'+${pathName}+':list">')
    #set($save='<@shiro.hasPermission name="'+${pathName}+':save">')
    #set($update='<@shiro.hasPermission name="'+${pathName}+':update">')
    #set($delete='<@shiro.hasPermission name="'+${pathName}+':delete">')
    #set($end='</@shiro.hasPermission>')
    $header
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="col-sm-2 panel-border-right">
            <ul id="leftTree" class="ztree"></ul>
        </div>
        <div class="col-sm-10">
            <div class="grid-btn">
                $save
                <button class="layui-btn layui-btn-small layui-btn-normal" v-on:click="add"><i class="fa fa-plus"></i>&nbsp;新增
                </button>
                $end
                $update
                <button class="layui-btn layui-btn-small layui-btn-normal" v-on:click="update"><i
                        class="fa fa-pencil-square-o"></i>&nbsp;修改
                </button>
                $end
                $delete
                <button class="layui-btn layui-btn-small layui-btn-normal" v-on:click="del"><i class="fa fa-trash-o"></i>&nbsp;删除
                </button>
                $end
            </div>
            <table id="jqGrid"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            #foreach($column in $columns)
                #if($column.columnName != $pk.columnName)
                    <div class="form-group">
                        <div class="col-sm-2 control-label">${column.comments}</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="${classname}.${column.attrname}"
                                   placeholder="${column.comments}"/>
                        </div>
                    </div>
                #end
            #end
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" v-on:click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" v-on:click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${ctxPath}/static/js/${pathName}/${pathName}.js"></script>
</body>
</html>