<div id="ref_entryapplicationmain" style="display: none;padding:10px;">
    <table id="ref_grid_entryapplicationmain"></table>
    <div id="ref_gridpager_entryapplicationmain"></div>
</div>
<script>
    var mutilflag = false;
    function showrefgrid_entryapplicationmain(title, callback, pflag) {
        mutiflag = pflag || false;
        layer.open({
            type: 1,
            offset: '50px',
            skin: 'layui-layer-molv',
            title: title,
            area: ['450px', '450px'],
            shade: 0,
            shadeClose: false,
            content: jQuery("#ref_entryapplicationmain"),
            btn: ['确定', '取消'],
            btn1: function (index) {
                var row = getSelectedRowData("ref_grid_entryapplicationmain");
                if (callback) {
                    callback(row);
                }

                layer.close(index);
            }
        });
    }


    $(function () {
        $("#ref_grid_entryapplicationmain").jqGrid({
            url: '../entryapplicationmain/list',
            datatype: "json",
            colModel: [
                                                            {label: 'id', name: 'id', width: 50, key: true},

                                                                                {
                            label: '申请单号',
                            name: 'billno',
                            width: 80
                        }, 
                                                                                {
                            label: '员工姓名',
                            name: 'name',
                            width: 80
                        }, 
                                                                                {
                            label: '申请时间',
                            name: 'applicationday',
                            width: 80
                        }, 
                                                                                {
                            label: '部门',
                            name: 'deptid',
                            width: 80
                        }, 
                                                                                { label: '岗位', name: 'role_name', width: 80 }, 
                                                                                {
                            label: '入职时间',
                            name: 'entryday',
                            width: 80
                        }, 
                                                                                {
                            label: '试用/实习期间',
                            name: 'probation',
                            width: 80
                        }, 
                                                                                {
                            label: '自述理由',
                            name: 'reason',
                            width: 80
                        }, 
                                                                                {
                            label: '交接内容',
                            name: 'handover',
                            width: 80
                        }, 
                                                                                { label: '单据状态', name: 'enumvaluename', width: 80 }, 
                                                                                {
                            label: '备注',
                            name: 'remark',
                            width: 80
                        }, 
                                                                                { label: '制单人', name: 'fullname', width: 80 }, 
                                                                                {
                            label: '制单日期',
                            name: 'makedate',
                            width: 80
                        }, 
                                                                                { label: '审核人', name: 'fullname', width: 80 }, 
                                                                                {
                            label: '审核日期',
                            name: 'accdate',
                            width: 80
                        }, 
                                                                                {
                            label: '更新时间',
                            name: 'uptdate',
                            width: 80
                        }, 
                                                                                {
                            label: '流程ID',
                            name: 'pocessinstanceid',
                            width: 80
                        }, 
                                                                                {
                            label: '英文名',
                            name: 'englishname',
                            width: 80
                        }, 
                                                                                {
                            label: '用户编码',
                            name: 'userid',
                            width: 80
                        }, 
                                                                                {
                            label: '密码',
                            name: 'password',
                            width: 80
                        }, 
                                                                                {
                            label: '邮箱',
                            name: 'email',
                            width: 80
                        }, 
                                                                                {
                            label: '出生日期',
                            name: 'brithday',
                            width: 80
                        }, 
                                                                                {
                            label: '外语水平',
                            name: 'englishlevel',
                            width: 80
                        }, 
                                                                                {
                            label: '毕业时间',
                            name: 'graduationtime',
                            width: 80
                        }, 
                                                                                {
                            label: '现住址',
                            name: 'residence',
                            width: 80
                        }, 
                                                                                {
                            label: '户籍在地',
                            name: 'census',
                            width: 80
                        }, 
                                                                                {
                            label: '教育经历',
                            name: 'educationexperience',
                            width: 80
                        }, 
                                                                                {
                            label: '工作经历',
                            name: 'workexperience',
                            width: 80
                        }, 
                                                                                {
                            label: '家庭状况',
                            name: 'family',
                            width: 80
                        }, 
                                                                                {
                            label: '电话',
                            name: 'mobile',
                            width: 80
                        }, 
                                                                                {
                            label: '参加工作时间',
                            name: 'startedworktime',
                            width: 80
                        }, 
                                                                                { label: '性别', name: 'enumvaluename', width: 80 }, 
                                                                                {
                            label: '民族',
                            name: 'nationality',
                            width: 80
                        }, 
                                                                                {
                            label: '计算机水平',
                            name: 'computerlevel',
                            width: 80
                        }, 
                                                                                {
                            label: '所学专业',
                            name: 'major',
                            width: 80
                        }, 
                                                                                {
                            label: '其他联系方式',
                            name: 'thermobile',
                            width: 80
                        }, 
                                                                                { label: '本年假天数', name: 'enumvaluename', width: 80 }, 
                                                                                { label: '上年假天数', name: 'enumvaluename', width: 80 }, 
                                                                                {
                            label: '身份证',
                            name: 'identification',
                            width: 80
                        }, 
                                                                                {
                            label: '学历',
                            name: 'qulification',
                            width: 80
                        }, 
                                                                                { label: '婚姻状况', name: 'enumvaluename', width: 80 }, 
                                                                                {
                            label: '专业职称',
                            name: 'academictitle',
                            width: 80
                        }, 
                                                                                {
                            label: '毕业院校',
                            name: 'school',
                            width: 80
                        }, 
                                                                                { label: '状态', name: 'enumvaluename', width: 80 }
                                    ],
            viewrecords: true,
            height: 385,
            rowNum: 10,
            rowList: [10, 30, 50],
            rownumbers: true,
            rownumWidth: 25,
            autowidth: true,
            multiselect: true,
            pager: "#ref_gridpager_entryapplicationmain",
            jsonReader: {
                root: "page.list",
                page: "page.currPage",
                total: "page.totalPage",
                records: "page.totalCount"
            },
            prmNames: {
                page: "page",
                rows: "limit",
                order: "order"
            },
            beforeSelectRow: function () {
                if (!mutiflag) {
                    $("#ref_grid_entryapplicationmain").jqGrid('resetSelection');
                }
                return (true);
            },
            gridComplete: function () {
                //隐藏grid底部滚动条
                //$("#jqGrid").closest(".ui-jqgrid-bdiv").css({ "overflow-x" : "hidden" });
            }
        });

    });
</script>
