<!DOCTYPE html>
<html>
<head>
    <title>转正申请</title>
        <#include "sys/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="panel-heading">
            <el-button-group>
            <@shiro.hasPermission name="formalapplicationmain:list">
            <el-button type="primary" v-on:click="query"><i class="fa fa-refresh"></i>&nbsp;刷新
            </el-button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="formalapplicationmain:list">
            <el-button type="primary" v-on:click="showQueryPanel"><i class="fa fa-search"></i>&nbsp;查询
            </el-button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="formalapplicationmain:save">
            <el-button type="primary" v-on:click="add"><i class="fa fa-plus"></i>&nbsp;新增
            </el-button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="formalapplicationmain:update">
            <el-button type="primary" v-on:click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改
            </el-button>
            </@shiro.hasPermission>
                            <@shiro.hasPermission name="formalapplicationmain:update">
                <el-button type="primary" v-on:click="submitworkflow"><i class="fa fa-pencil-square-o"></i>&nbsp;提交
                </el-button>
                </@shiro.hasPermission>
                <@shiro.hasPermission name="formalapplicationmain:copybill">
                <el-button type="primary" v-on:click="copybill"><i class="fa fa-trash-o"></i>&nbsp;复制
                </el-button>
                </@shiro.hasPermission>

                <@shiro.hasPermission name="formalapplicationmain:claim">
                <el-button type="primary" v-on:click="claim"><i class="fa fa-book"></i>&nbsp;签收
                </el-button>
                </@shiro.hasPermission>
                <@shiro.hasPermission name="formalapplicationmain:audit">
                <el-button type="primary" v-on:click="audit"><i class="fa fa-book"></i>&nbsp;审核
                </el-button>
                </@shiro.hasPermission>
                <@shiro.hasPermission name="formalapplicationmain:cancel">
                <el-button type="warning" v-on:click="cancel"><i class="fa fa-trash-o"></i>&nbsp;作废
                </el-button>
                </@shiro.hasPermission>
                        <@shiro.hasPermission name="formalapplicationmain:delete">
            <el-button type="danger" v-on:click="del"><i class="fa fa-trash-o"></i>&nbsp;删除
            </el-button>
            </@shiro.hasPermission>
            </el-button-group>

            <div v-show="showQuery">
                <el-form label-position="right" :inline="true" label-width="100px" style="padding:5px;">

                                                                                                                    <el-form-item label="申请单号" >

                                                                    <el-input style="width: 350px"  v-model="q.billno" placeholder="申请单号"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="员工姓名" >

                                                                    <el-input style="width: 350px"  v-model="q.name" placeholder="员工姓名"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="申请时间" >

                                                                    <el-input style="width: 350px"  v-model="q.applicationday" placeholder="申请时间"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="部门" >

                                
                                    <input style="width: 350px" v-model="q.deptidname"  v-on:click="openRefTreesys_deptdeptid"
                                           placeholder="部门" class="el-input el-input__inner"></input>

                                
                            </el-form-item>
                                                                                                <el-form-item label="岗位" >

                                                                    <el-select style="width: 350px" v-model="q.roleid"  filterable placeholder="请选择">
                                        <el-option
                                                v-for="item in ref_sys_role"
                                                :key="item.role_id"
                                                :label="item.role_name"
                                                :value="item.role_id">
                                        </el-option>
                                    </el-select>
                                
                            </el-form-item>
                                                                                                <el-form-item label="入职时间" >

                                                                    <el-input style="width: 350px"  v-model="q.entryday" placeholder="入职时间"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="试用/实习期间" >

                                                                    <el-input style="width: 350px"  v-model="q.probation" placeholder="试用/实习期间"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="自述理由" >

                                                                    <el-input style="width: 350px"  v-model="q.reason" placeholder="自述理由"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="交接内容" >

                                                                    <el-input style="width: 350px"  v-model="q.handover" placeholder="交接内容"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="单据状态" >

                                                                    <el-select style="width: 350px" v-model="q.billstatus"  filterable placeholder="请选择">
                                        <el-option
                                                v-for="item in ref_enum1003"
                                                :key="item.enumvalueid"
                                                :label="item.enumvaluename"
                                                :value="item.enumvalueid">
                                        </el-option>
                                    </el-select>


                                
                            </el-form-item>
                                                                                                <el-form-item label="备注" >

                                                                    <el-input style="width: 350px"  v-model="q.remark" placeholder="备注"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="制单人" >

                                                                    <el-select style="width: 350px" v-model="q.makeuser"  filterable placeholder="请选择">
                                        <el-option
                                                v-for="item in ref_sys_user"
                                                :key="item.id"
                                                :label="item.fullname"
                                                :value="item.id">
                                        </el-option>
                                    </el-select>
                                
                            </el-form-item>
                                                                                                <el-form-item label="制单日期" >

                                
                                    <el-date-picker style="width: 350px" type="date" placeholder="选择日期" :picker-options="pickerOptions1" v-model="q.makedate" style="width: 100%;"></el-date-picker>
                                
                            </el-form-item>
                                                                                                <el-form-item label="审核人" >

                                                                    <el-select style="width: 350px" v-model="q.accuser"  filterable placeholder="请选择">
                                        <el-option
                                                v-for="item in ref_sys_user"
                                                :key="item.id"
                                                :label="item.fullname"
                                                :value="item.id">
                                        </el-option>
                                    </el-select>
                                
                            </el-form-item>
                                                                                                <el-form-item label="审核日期" >

                                
                                    <el-date-picker style="width: 350px" type="date" placeholder="选择日期" :picker-options="pickerOptions1" v-model="q.accdate" style="width: 100%;"></el-date-picker>
                                
                            </el-form-item>
                                                                                                <el-form-item label="更新时间" >

                                
                                    <el-date-picker style="width: 350px" type="date" placeholder="选择日期" :picker-options="pickerOptions1" v-model="q.uptdate" style="width: 100%;"></el-date-picker>
                                
                            </el-form-item>
                                                                                                <el-form-item label="流程ID" >

                                                                    <el-input style="width: 350px"  v-model="q.pocessinstanceid" placeholder="流程ID"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="英文名" >

                                                                    <el-input style="width: 350px"  v-model="q.englishname" placeholder="英文名"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="用户编码" >

                                                                    <el-input style="width: 350px"  v-model="q.userid" placeholder="用户编码"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="密码" >

                                                                    <el-input style="width: 350px"  v-model="q.password" placeholder="密码"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="邮箱" >

                                                                    <el-input style="width: 350px"  v-model="q.email" placeholder="邮箱"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="出生日期" >

                                                                    <el-input style="width: 350px"  v-model="q.brithday" placeholder="出生日期"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="外语水平" >

                                                                    <el-input style="width: 350px"  v-model="q.englishlevel" placeholder="外语水平"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="毕业时间" >

                                
                                    <el-date-picker style="width: 350px" type="datetime" placeholder="选择日期时间" :picker-options="pickerOptions1" v-model="q.graduationtime" style="width: 100%;"></el-date-picker>

                                
                            </el-form-item>
                                                                                                <el-form-item label="现住址" >

                                                                    <el-input style="width: 350px"  v-model="q.residence" placeholder="现住址"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="户籍在地" >

                                                                    <el-input style="width: 350px"  v-model="q.census" placeholder="户籍在地"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="教育经历" >

                                                                    <el-input style="width: 350px"  v-model="q.educationexperience" placeholder="教育经历"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="工作经历" >

                                                                    <el-input style="width: 350px"  v-model="q.workexperience" placeholder="工作经历"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="家庭状况" >

                                                                    <el-input style="width: 350px"  v-model="q.family" placeholder="家庭状况"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="电话" >

                                                                    <el-input style="width: 350px"  v-model="q.mobile" placeholder="电话"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="参加工作时间" >

                                
                                    <el-date-picker style="width: 350px" type="datetime" placeholder="选择日期时间" :picker-options="pickerOptions1" v-model="q.startedworktime" style="width: 100%;"></el-date-picker>

                                
                            </el-form-item>
                                                                                                <el-form-item label="性别" >

                                                                    <el-select style="width: 350px" v-model="q.gender"  filterable placeholder="请选择">
                                        <el-option
                                                v-for="item in ref_enum1015"
                                                :key="item.enumvalueid"
                                                :label="item.enumvaluename"
                                                :value="item.enumvalueid">
                                        </el-option>
                                    </el-select>


                                
                            </el-form-item>
                                                                                                <el-form-item label="民族" >

                                                                    <el-input style="width: 350px"  v-model="q.nationality" placeholder="民族"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="计算机水平" >

                                                                    <el-input style="width: 350px"  v-model="q.computerlevel" placeholder="计算机水平"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="所学专业" >

                                                                    <el-input style="width: 350px"  v-model="q.major" placeholder="所学专业"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="其他联系方式" >

                                                                    <el-input style="width: 350px"  v-model="q.thermobile" placeholder="其他联系方式"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="本年假天数" >

                                                                    <el-select style="width: 350px" v-model="q.vacationyear"  filterable placeholder="请选择">
                                        <el-option
                                                v-for="item in ref_enum1016"
                                                :key="item.enumvalueid"
                                                :label="item.enumvaluename"
                                                :value="item.enumvalueid">
                                        </el-option>
                                    </el-select>


                                
                            </el-form-item>
                                                                                                <el-form-item label="上年假天数" >

                                                                    <el-select style="width: 350px" v-model="q.vacationlastyear"  filterable placeholder="请选择">
                                        <el-option
                                                v-for="item in ref_enum1017"
                                                :key="item.enumvalueid"
                                                :label="item.enumvaluename"
                                                :value="item.enumvalueid">
                                        </el-option>
                                    </el-select>


                                
                            </el-form-item>
                                                                                                <el-form-item label="身份证" >

                                                                    <el-input style="width: 350px"  v-model="q.identification" placeholder="身份证"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="学历" >

                                                                    <el-input style="width: 350px"  v-model="q.qulification" placeholder="学历"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="婚姻状况" >

                                                                    <el-select style="width: 350px" v-model="q.marriage"  filterable placeholder="请选择">
                                        <el-option
                                                v-for="item in ref_enum1018"
                                                :key="item.enumvalueid"
                                                :label="item.enumvaluename"
                                                :value="item.enumvalueid">
                                        </el-option>
                                    </el-select>


                                
                            </el-form-item>
                                                                                                <el-form-item label="专业职称" >

                                                                    <el-input style="width: 350px"  v-model="q.academictitle" placeholder="专业职称"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="毕业院校" >

                                                                    <el-input style="width: 350px"  v-model="q.school" placeholder="毕业院校"></el-input>


                                
                            </el-form-item>
                                                                                                <el-form-item label="状态" >

                                                                    <el-select style="width: 350px" v-model="q.status"  filterable placeholder="请选择">
                                        <el-option
                                                v-for="item in ref_enum1020"
                                                :key="item.enumvalueid"
                                                :label="item.enumvaluename"
                                                :value="item.enumvalueid">
                                        </el-option>
                                    </el-select>


                                
                            </el-form-item>
                                            
                    <el-button type="primary" icon="search" v-on:click="query">搜索</el-button>

                </el-form>

            </div>


        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="showDetailList" class="panel panel-default">


                <el-tabs type="border-card">
                    <el-tab-pane>
                        <span slot="label"><i class="el-icon-document"></i> 附件</span>
                        <table id="jqGridFiles"></table>
                        <div id="jqGridPagerFiles"></div>
                    </el-tab-pane>
                    <el-tab-pane>
                        <span slot="label"><i class="el-icon-time"></i> 审批</span>
                        <table id="jqGridComments"></table>
                        <div id="jqGridPagerComments"></div>
                    </el-tab-pane>
                </el-tabs>




    </div>


    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">
            <el-row>
                <el-col :span="14">
            <el-button-group>
                <el-button type="primary"  v-on:click="saveOrUpdate"><i class="fa fa-save"></i>&nbsp;保存</el-button>
                <el-button type="primary"  v-on:click="reload"><i class="fa fa-times"></i>&nbsp;返回</el-button>
            </el-button-group>
                </el-col>
                <el-col :span="10">
                                            <div class="billno">单据号:{{formalapplicationmain.billno}}<span class="panel-right">制单人:{{formalapplicationmain.makeuser}} 制单日期:{{formalapplicationmain.makedate}}</span></div>
                    
                </el-col>
            </el-row>
        </div>
        <el-form label-position="right"  label-width="100px" :inline="true" style="padding:5px">

                            
                            
                                                <el-form-item label="员工姓名" class="padding-top: 5px;width:26%">

                                                             <el-input style="width: 350px"  v-model="formalapplicationmain.name" placeholder="员工姓名"></el-input>


                              
                    </el-form-item>
                
                                                <el-form-item label="申请时间" class="padding-top: 5px;width:26%">

                                                             <el-date-picker style="width: 350px" type="date" placeholder="选择日期" :picker-options="pickerOptions1" v-model="formalapplicationmain.applicationday" style="width: 100%;"></el-date-picker>
                             
                    </el-form-item>
                
                                                <el-form-item label="部门" class="padding-top: 5px;width:26%">

                             
                                <input style="width: 350px" v-model="formalapplicationmain.deptidname"  v-on:click="openRefTreesys_deptdeptid"
                                          placeholder="部门" class="el-input el-input__inner"></input>

                             
                    </el-form-item>
                
                                                <el-form-item label="岗位" class="padding-top: 5px;width:26%">

                                                             <el-select style="width: 350px" v-model="formalapplicationmain.roleid"  filterable placeholder="请选择">
                                    <el-option
                                            v-for="item in ref_sys_role"
                                            :key="item.role_id"
                                            :label="item.role_name"
                                            :value="item.role_id">
                                    </el-option>
                                </el-select>
                            
                    </el-form-item>
                
                                                <el-form-item label="入职时间" class="padding-top: 5px;width:26%">

                                                             <el-date-picker style="width: 350px" type="date" placeholder="选择日期" :picker-options="pickerOptions1" v-model="formalapplicationmain.entryday" style="width: 100%;"></el-date-picker>
                             
                    </el-form-item>
                
                                                <el-form-item label="试用/实习期间" class="padding-top: 5px;width:26%">

                                                             <el-input style="width: 350px"  v-model="formalapplicationmain.probation" placeholder="试用/实习期间"></el-input>


                              
                    </el-form-item>
                
                                                <el-form-item label="自述理由" class="padding-top: 5px;width:26%">

                                                             <el-input style="width: 350px"  v-model="formalapplicationmain.reason" placeholder="自述理由"></el-input>


                              
                    </el-form-item>
                
                                                <el-form-item label="交接内容" class="padding-top: 5px;width:26%">

                                                             <el-input style="width: 350px"  v-model="formalapplicationmain.handover" placeholder="交接内容"></el-input>


                              
                    </el-form-item>
                
                            
                                                <el-form-item label="备注" class="padding-top: 5px;width:26%">

                                                             <el-input  type="textarea" :rows="2" style="width: 350px" type="date" placeholder="请输入内容"  v-model="formalapplicationmain.remark" style="width: 100%;"></el-input>

                             
                    </el-form-item>
                
                            
                            
                            
                            
                            
                            
                                                <el-form-item label="英文名" class="padding-top: 5px;width:26%">

                                                             <el-input style="width: 350px"  v-model="formalapplicationmain.englishname" placeholder="英文名"></el-input>


                              
                    </el-form-item>
                
                                                <el-form-item label="用户编码" class="padding-top: 5px;width:26%">

                                                             <el-input style="width: 350px"  v-model="formalapplicationmain.userid" placeholder="用户编码"></el-input>


                              
                    </el-form-item>
                
                                                <el-form-item label="密码" class="padding-top: 5px;width:26%">

                                                             <el-input style="width: 350px"  v-model="formalapplicationmain.password" placeholder="密码"></el-input>


                              
                    </el-form-item>
                
                                                <el-form-item label="邮箱" class="padding-top: 5px;width:26%">

                                                             <el-input style="width: 350px"  v-model="formalapplicationmain.email" placeholder="邮箱"></el-input>


                              
                    </el-form-item>
                
                                                <el-form-item label="出生日期" class="padding-top: 5px;width:26%">

                                                             <el-date-picker style="width: 350px" type="date" placeholder="选择日期" :picker-options="pickerOptions1" v-model="formalapplicationmain.brithday" style="width: 100%;"></el-date-picker>
                             
                    </el-form-item>
                
                                                <el-form-item label="外语水平" class="padding-top: 5px;width:26%">

                                                             <el-input style="width: 350px"  v-model="formalapplicationmain.englishlevel" placeholder="外语水平"></el-input>


                              
                    </el-form-item>
                
                                                <el-form-item label="毕业时间" class="padding-top: 5px;width:26%">

                             
                                    <el-date-picker style="width: 350px" type="datetime" placeholder="选择日期时间" :picker-options="pickerOptions1" v-model="formalapplicationmain.graduationtime" style="width: 100%;"></el-date-picker>

                            
                    </el-form-item>
                
                                                <el-form-item label="现住址" class="padding-top: 5px;width:26%">

                                                             <el-input style="width: 350px"  v-model="formalapplicationmain.residence" placeholder="现住址"></el-input>


                              
                    </el-form-item>
                
                                                <el-form-item label="户籍在地" class="padding-top: 5px;width:26%">

                                                             <el-input style="width: 350px"  v-model="formalapplicationmain.census" placeholder="户籍在地"></el-input>


                              
                    </el-form-item>
                
                                                <el-form-item label="教育经历" class="padding-top: 5px;width:26%">

                                                             <el-input style="width: 350px"  v-model="formalapplicationmain.educationexperience" placeholder="教育经历"></el-input>


                              
                    </el-form-item>
                
                                                <el-form-item label="工作经历" class="padding-top: 5px;width:26%">

                                                             <el-input style="width: 350px"  v-model="formalapplicationmain.workexperience" placeholder="工作经历"></el-input>


                              
                    </el-form-item>
                
                                                <el-form-item label="家庭状况" class="padding-top: 5px;width:26%">

                                                             <el-input style="width: 350px"  v-model="formalapplicationmain.family" placeholder="家庭状况"></el-input>


                              
                    </el-form-item>
                
                                                <el-form-item label="电话" class="padding-top: 5px;width:26%">

                                                             <el-input style="width: 350px"  v-model="formalapplicationmain.mobile" placeholder="电话"></el-input>


                              
                    </el-form-item>
                
                                                <el-form-item label="参加工作时间" class="padding-top: 5px;width:26%">

                             
                                    <el-date-picker style="width: 350px" type="datetime" placeholder="选择日期时间" :picker-options="pickerOptions1" v-model="formalapplicationmain.startedworktime" style="width: 100%;"></el-date-picker>

                            
                    </el-form-item>
                
                                                <el-form-item label="性别" class="padding-top: 5px;width:26%">

                                                             <el-select style="width: 350px" v-model="formalapplicationmain.gender"  filterable placeholder="请选择">
                                    <el-option
                                            v-for="item in ref_enum1015"
                                            :key="item.enumvalueid"
                                            :label="item.enumvaluename"
                                            :value="item.enumvalueid">
                                    </el-option>
                                </el-select>


                             
                    </el-form-item>
                
                                                <el-form-item label="民族" class="padding-top: 5px;width:26%">

                                                             <el-input style="width: 350px"  v-model="formalapplicationmain.nationality" placeholder="民族"></el-input>


                              
                    </el-form-item>
                
                                                <el-form-item label="计算机水平" class="padding-top: 5px;width:26%">

                                                             <el-input style="width: 350px"  v-model="formalapplicationmain.computerlevel" placeholder="计算机水平"></el-input>


                              
                    </el-form-item>
                
                                                <el-form-item label="所学专业" class="padding-top: 5px;width:26%">

                                                             <el-input style="width: 350px"  v-model="formalapplicationmain.major" placeholder="所学专业"></el-input>


                              
                    </el-form-item>
                
                                                <el-form-item label="其他联系方式" class="padding-top: 5px;width:26%">

                                                             <el-input style="width: 350px"  v-model="formalapplicationmain.thermobile" placeholder="其他联系方式"></el-input>


                              
                    </el-form-item>
                
                                                <el-form-item label="本年假天数" class="padding-top: 5px;width:26%">

                                                             <el-select style="width: 350px" v-model="formalapplicationmain.vacationyear"  filterable placeholder="请选择">
                                    <el-option
                                            v-for="item in ref_enum1016"
                                            :key="item.enumvalueid"
                                            :label="item.enumvaluename"
                                            :value="item.enumvalueid">
                                    </el-option>
                                </el-select>


                             
                    </el-form-item>
                
                                                <el-form-item label="上年假天数" class="padding-top: 5px;width:26%">

                                                             <el-select style="width: 350px" v-model="formalapplicationmain.vacationlastyear"  filterable placeholder="请选择">
                                    <el-option
                                            v-for="item in ref_enum1017"
                                            :key="item.enumvalueid"
                                            :label="item.enumvaluename"
                                            :value="item.enumvalueid">
                                    </el-option>
                                </el-select>


                             
                    </el-form-item>
                
                                                <el-form-item label="身份证" class="padding-top: 5px;width:26%">

                                                             <el-input style="width: 350px"  v-model="formalapplicationmain.identification" placeholder="身份证"></el-input>


                              
                    </el-form-item>
                
                                                <el-form-item label="学历" class="padding-top: 5px;width:26%">

                                                             <el-input style="width: 350px"  v-model="formalapplicationmain.qulification" placeholder="学历"></el-input>


                              
                    </el-form-item>
                
                                                <el-form-item label="婚姻状况" class="padding-top: 5px;width:26%">

                                                             <el-select style="width: 350px" v-model="formalapplicationmain.marriage"  filterable placeholder="请选择">
                                    <el-option
                                            v-for="item in ref_enum1018"
                                            :key="item.enumvalueid"
                                            :label="item.enumvaluename"
                                            :value="item.enumvalueid">
                                    </el-option>
                                </el-select>


                             
                    </el-form-item>
                
                                                <el-form-item label="专业职称" class="padding-top: 5px;width:26%">

                                                             <el-input style="width: 350px"  v-model="formalapplicationmain.academictitle" placeholder="专业职称"></el-input>


                              
                    </el-form-item>
                
                                                <el-form-item label="毕业院校" class="padding-top: 5px;width:26%">

                                                             <el-input style="width: 350px"  v-model="formalapplicationmain.school" placeholder="毕业院校"></el-input>


                              
                    </el-form-item>
                
                                                <el-form-item label="状态" class="padding-top: 5px;width:26%">

                                                             <el-select style="width: 350px" v-model="formalapplicationmain.status"  filterable placeholder="请选择">
                                    <el-option
                                            v-for="item in ref_enum1020"
                                            :key="item.enumvalueid"
                                            :label="item.enumvaluename"
                                            :value="item.enumvalueid">
                                    </el-option>
                                </el-select>


                             
                    </el-form-item>
                
            
            <el-upload
                    class="upload"
                    action="../files/batchupload"
                    :multiple="true"
                    :on-success="upload_on_success"
                    :on-change="upload_on_change"
                    :file-list="fileslist">
                <el-button size="small" type="primary">附件上传</el-button>

            </el-upload>

        </el-form>
    </div>
</div>


                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
<div id="treelayersys_dept" style="display: none;padding:10px;">
    <ul id="refTreesys_dept" class="ztree"></ul>
</div>

<#include "base/billcomments_ref.html">
<script src="${ctxPath}/static/js/member/formalapplicationmain.js"></script>
</body>
</html>