<!DOCTYPE html>
<html>
<head>
    <title>仓储合同</title>
        <#include "sys/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <el-button-group>
                <@shiro.hasPermission name="storecontractmain:list">
                <el-button type="primary" v-on:click="query"><i class="fa fa-search"></i>&nbsp;查询
                </el-button>
                </@shiro.hasPermission>
                <@shiro.hasPermission name="storecontractmain:save">
                <el-button type="primary" v-on:click="add"><i class="fa fa-plus"></i>&nbsp;新增
                </el-button>
                </@shiro.hasPermission>
                <@shiro.hasPermission name="storecontractmain:update">
                <el-button type="primary" v-on:click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改
                </el-button>
                </@shiro.hasPermission>
                <@shiro.hasPermission name="storecontractmain:delete">
                <el-button type="primary" v-on:click="del"><i class="fa fa-trash-o"></i>&nbsp;删除
                </el-button>
                </@shiro.hasPermission>
                <@shiro.hasPermission name="storecontractmain:audit">
                <el-button type="primary" v-on:click="audit"><i class="fa fa-book"></i>&nbsp;审核
                </el-button>
                </@shiro.hasPermission>
                <@shiro.hasPermission name="storecontractmain:unaudit">
                <el-button type="primary" v-on:click="unaudit"><i class="fa fa-reply"></i>&nbsp;反审核
                </el-button>
                </@shiro.hasPermission>
            </el-button-group>

        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="showDetailList" class="panel panel-default">
        <div class="panel-heading">明细</div>
        <table id="jqGridDetail"></table>
        <div id="jqGridPagerDetail"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">
            <el-row>
                <el-col :span="14">
                    <el-button-group>
                        <el-button type="primary"  v-on:click="saveOrUpdate"><i class="fa fa-save"></i>&nbsp;保存</el-button>
                        <el-button type="primary"  v-on:click="reload"><i class="fa fa-times"></i>&nbsp;返回</el-button>
                    </el-button-group>
                </el-col>
                <el-col :span="10">
                    <div class="billno">单据号:{{storecontractmain.billno}}<span class="panel-right">制单人:{{storecontractmain.makeuser}} 制单日期:{{storecontractmain.makedate}}</span></div>

                </el-col>
            </el-row>
        </div>
        <el-form label-position="right" inline="true" label-width="80px" style="padding:30px">

                                                                                                        <el-form-item label="客户">
                                                    <el-select v-model="storecontractmain.orgid"  filterable placeholder="请选择">
                                <el-option
                                        v-for="item in ref_organization"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                </el-option>
                            </el-select>


                        
                    </el-form-item>
                                                                <el-form-item label="付款方式">
                                                    <el-input v-model="storecontractmain.paytype" placeholder="付款方式"></el-input>


                        
                    </el-form-item>
                                                                <el-form-item label="币别">
                                                    <el-input v-model="storecontractmain.boctid" placeholder="币别"></el-input>


                        
                    </el-form-item>
                                                                <el-form-item label="汇率">
                        
                            <el-input-number v-model="storecontractmain.rate" :min="1" ></el-input-number>
                        
                    </el-form-item>
                                                                <el-form-item label="税率">
                        
                            <el-input-number v-model="storecontractmain.taxrate" :min="1" ></el-input-number>
                        
                    </el-form-item>
                                                                <el-form-item label="放箱单价">
                        
                            <el-input-number v-model="storecontractmain.takeboxfee" :min="1" ></el-input-number>
                        
                    </el-form-item>
                                                                <el-form-item label="放箱单价(税)">
                        
                            <el-input-number v-model="storecontractmain.takeboxfeetax" :min="1" ></el-input-number>
                        
                    </el-form-item>
                                                                <el-form-item label="生效日期">
                        
                            <el-date-picker type="date" placeholder="选择日期" :picker-options="pickerOptions1" v-model="storecontractmain.bgndate" style="width: 100%;"></el-date-picker>
                        
                    </el-form-item>
                                                                <el-form-item label="失效日期">
                        
                            <el-date-picker type="date" placeholder="选择日期" :picker-options="pickerOptions1" v-model="storecontractmain.enddate" style="width: 100%;"></el-date-picker>
                        
                    </el-form-item>
                                                                <el-form-item label="备注">
                                                    <el-input v-model="storecontractmain.remark" placeholder="备注"></el-input>


                        
                    </el-form-item>
                                                                                                                                                                                                    

        </el-form>

        <table id="details" class="layui-table">
            <colgroup>
                                     <col width="100">
                                     <col width="100">
                                     <col width="100">
                                     <col width="100">
                                     <col width="100">
                                     <col width="100">
                                     <col width="100">
                            </colgroup>
            <thead>
            <tr>
                <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"></th>
                                    <th></th>
                                    <th>单据号</th>
                                    <th>序号</th>
                                    <th>线路</th>
                                    <th>箱型</th>
                                    <th>空重类型</th>
                                    <th>应收单价</th>
                
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in storecontractmain.details">
                <td><input type="checkbox" name="" lay-skin="primary"/>
                    <div class="layui-btn-group">
                        <button class="layui-btn layui-btn-primary layui-btn-small" v-on:click="additem"><i class="layui-icon">&#xe654;</i></button>
                        <button class="layui-btn layui-btn-primary layui-btn-small" v-on:click="delitem" v-bind:id="'btn-del-'+index" v-bind:idx="index"><i class="layui-icon">&#xe640;</i></button>
                    </div>
                </td>
                <td>{{index}}</td>
                 <td><input v-model="item.billno"></td>
                                                                            <td><input v-model="item.serialno"></td>
                                                                            <td><input v-model="item.lineid"></td>
                                                                            <td><input v-model="item.boxtype"></td>
                                                                            <td><input v-model="item.weighttype"></td>
                                                                            <td><input v-model="item.boxprice"></td>
                                    
            </tr>
            </tbody>
        </table>

    </div>
</div>

<script src="${ctxPath}/static/js/contract/storecontractmain.js"></script>
</body>
</html>