<div id="ref_cartype" style="display: none;padding:10px;">
    <table id="ref_grid_cartype"></table>
    <div id="ref_gridpager_cartype"></div>
</div>
<script>
    var mutilflag = false;
    function showrefgrid_cartype(title, callback, pflag) {
        mutiflag = pflag || false;
        layer.open({
            type: 1,
            offset: '50px',
            skin: 'layui-layer-molv',
            title: title,
            area: ['450px', '450px'],
            shade: 0,
            shadeClose: false,
            content: jQuery("#ref_cartype"),
            btn: ['确定', '取消'],
            btn1: function (index) {
                var row = getSelectedRowData("ref_grid_cartype");
                if (callback) {
                    callback(row);
                }

                layer.close(index);
            }
        });
    }


    $(function () {
        $("#ref_grid_cartype").jqGrid({
            url: '../cartype/list',
            datatype: "json",
            colModel: [
                {label: 'id', name: 'id', width: 50, key: true},
                {
                    label: '编码',
                    name: 'cartypecode',
                    width: 80
                },
                {
                    label: '姓名',
                    name: 'cartypename',
                    width: 80
                },
                {
                    label: '更新时间',
                    name: 'uptdate',
                    width: 80
                },
                {
                    label: '备注',
                    name: 'remark',
                    width: 80
                }
            ],
            viewrecords: true,
            height: 385,
            rowNum: 10,
            rowList: [10, 30, 50],
            rownumbers: true,
            rownumWidth: 25,
            autowidth: true,
            multiselect: true,
            pager: "#ref_gridpager_cartype",
            jsonReader: {
                root: "page.list",
                page: "page.currPage",
                total: "page.totalPage",
                records: "page.totalCount"
            },
            prmNames: {
                page: "page",
                rows: "limit",
                order: "order"
            },
            beforeSelectRow: function () {
                if (!mutiflag) {
                    $("#ref_grid_cartype").jqGrid('resetSelection');
                }
                return (true);
            },
            gridComplete: function () {
                //隐藏grid底部滚动条
                //$("#jqGrid").closest(".ui-jqgrid-bdiv").css({ "overflow-x" : "hidden" });
            }
        });

    });
</script>
