<!DOCTYPE html>
<html>
<head>
    <title>商品表</title>
        <#include "sys/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <@shiro.hasPermission name="goods:list">
            <button class="layui-btn layui-btn-small layui-btn-normal" v-on:click="query"><i class="fa fa-search"></i>&nbsp;查询
            </button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="goods:save">
            <button class="layui-btn layui-btn-small layui-btn-normal" v-on:click="add"><i class="fa fa-plus"></i>&nbsp;新增
            </button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="goods:update">
            <button class="layui-btn layui-btn-small layui-btn-normal" v-on:click="update"><i
                    class="fa fa-pencil-square-o"></i>&nbsp;修改
            </button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="goods:delete">
            <button class="layui-btn layui-btn-small layui-btn-normal" v-on:click="del"><i class="fa fa-trash-o"></i>&nbsp;删除
            </button>
            </@shiro.hasPermission>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <div class="layui-btn-group">
            <button  class="layui-btn layui-btn-small layui-btn-normal"  v-on:click="saveOrUpdate"  ><i class="fa fa-save"></i>保存</button>
            <button  class="layui-btn layui-btn-small layui-btn-normal"  v-on:click="reload"  ><i class="fa fa-cancel"></i>返回</button>

        </div>
        <form class="layui-form layui-form-pane">

            <div class="layui-form-item">
                 <div clacc="layui-inline">
                        <label class="layui-form-label">类别ID</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" v-model="goods.classid"
                                   placeholder="类别ID"/>
                        </div>
                  </div>


                 </div>
                                                            <div class="layui-form-item">
                        <div clacc="layui-inline">
                        <label class="layui-form-label">编码</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" v-model="goods.code"
                                   placeholder="编码"/>
                        </div>
                        </div>
                </div>
                                                            <div class="layui-form-item">
                        <div clacc="layui-inline">
                        <label class="layui-form-label">名称</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" v-model="goods.name"
                                   placeholder="名称"/>
                        </div>
                        </div>
                </div>
                                                            <div class="layui-form-item">
                        <div clacc="layui-inline">
                        <label class="layui-form-label">单价</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" v-model="goods.price"
                                   placeholder="单价"/>
                        </div>
                        </div>
                </div>
                                                            <div class="layui-form-item">
                        <div clacc="layui-inline">
                        <label class="layui-form-label">含税单价</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" v-model="goods.pricetax"
                                   placeholder="含税单价"/>
                        </div>
                        </div>
                </div>
                                                            <div class="layui-form-item">
                        <div clacc="layui-inline">
                        <label class="layui-form-label">库存</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" v-model="goods.gcount"
                                   placeholder="库存"/>
                        </div>
                        </div>
                </div>
                            
        </form>
    </div>
</div>

<script src="${ctxPath}/static/js/base/goods.js"></script>
</body>
</html>