<!DOCTYPE html>
<html>
<head>
    <title>商品表</title>
        <#include "sys/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="panel-heading">
            <el-button-group>
            <@shiro.hasPermission name="goods:list">
            <el-button type="primary" v-on:click="query"><i class="fa fa-search"></i>&nbsp;查询
            </el-button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="goods:save">
            <el-button type="primary" v-on:click="add"><i class="fa fa-plus"></i>&nbsp;新增
            </el-button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="goods:update">
            <el-button type="primary" v-on:click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改
            </el-button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="goods:delete">
            <el-button type="primary" v-on:click="del"><i class="fa fa-trash-o"></i>&nbsp;删除
            </el-button>
            </@shiro.hasPermission>
            </el-button-group>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">
            <el-row>
                <el-col :span="14">
            <el-button-group>
                <el-button type="primary"  v-on:click="saveOrUpdate"><i class="fa fa-save"></i>&nbsp;保存</el-button>
                <el-button type="primary"  v-on:click="reload"><i class="fa fa-times"></i>&nbsp;返回</el-button>
            </el-button-group>
                </el-col>
                <el-col :span="10">
                    <div class="billno">单据号:{{goods.billno}}<span class="panel-right">制单人:{{goods.makeuser}} 制单日期:{{goods.makedate}}</span></div>

                </el-col>
            </el-row>
        </div>
        <el-form label-position="right"  label-width="80px" style="padding:30px">

                                                                            <el-form-item label="父菜单ID，一级菜单为0">


                                                            <el-input v-model="goods.classId" placeholder="父菜单ID，一级菜单为0"></el-input>


                              
                    </el-form-item>
                                                                <el-form-item label="菜单名称">


                                                            <el-input v-model="goods.name" placeholder="菜单名称"></el-input>


                              
                    </el-form-item>
                                                                <el-form-item label="菜单URL">


                                                            <el-input v-model="goods.price" placeholder="菜单URL"></el-input>


                              
                    </el-form-item>
                                                                <el-form-item label="类型   0：目录   1：菜单   2：按钮">


                                                            <el-input v-model="goods.gcount" placeholder="类型   0：目录   1：菜单   2：按钮"></el-input>


                              
                    </el-form-item>
                                                                <el-form-item label="菜单图标">


                                                            <el-input v-model="goods.icon" placeholder="菜单图标"></el-input>


                              
                    </el-form-item>
                                                                <el-form-item label="排序">


                                                            <el-input v-model="goods.orderNum" placeholder="排序"></el-input>


                              
                    </el-form-item>
                            
        </el-form>
    </div>
</div>

<script src="${ctxPath}/static/js/goods/goods.js"></script>
</body>
</html>