<div id="ref_ship" style="display: none;padding:10px;">
    <table id="ref_grid_ship"></table>
    <div id="ref_gridpager_ship"></div>
</div>
<script>
    var mutilflag = false;
    function showrefgrid_ship(title, callback, pflag) {
        mutiflag = pflag || false;
        layer.open({
            type: 1,
            offset: '50px',
            skin: 'layui-layer-molv',
            title: title,
            area: ['450px', '450px'],
            shade: 0,
            shadeClose: false,
            content: jQuery("#ref_ship"),
            btn: ['确定', '取消'],
            btn1: function (index) {
                var row = getSelectedRowData("ref_grid_ship");
                if (callback) {
                    callback(row);
                }

                layer.close(index);
            }
        });
    }


    $(function () {
        $("#ref_grid_ship").jqGrid({
            url: '../ship/list',
            datatype: "json",
            colModel: [
                                                            {label: 'id', name: 'id', width: 50, key: true},

                                                                                {
                            label: '编码',
                            name: 'code',
                            width: 80
                        }, 
                                                                                {
                            label: '中文名称',
                            name: 'name',
                            width: 80
                        }, 
                                                                                {
                            label: '英文名称',
                            name: 'enname',
                            width: 80
                        }, 
                                                                                {
                            label: '所属区域',
                            name: 'region',
                            width: 80
                        }, 
                                                                                {
                            label: 'UN代码',
                            name: 'uncode',
                            width: 80
                        }, 
                                                                                {
                            label: '类型',
                            name: 'type',
                            width: 80
                        }, 
                                                                                {
                            label: '所属船公司',
                            name: 'company',
                            width: 80
                        }, 
                                                                                {
                            label: 'COS代码',
                            name: 'coscode',
                            width: 80
                        }, 
                                                                                {
                            label: 'COS船英文名',
                            name: 'cosshipenname',
                            width: 80
                        }, 
                                                                                {
                            label: '所属国家',
                            name: 'country',
                            width: 80
                        }, 
                                                                                {
                            label: '联系人',
                            name: 'contact',
                            width: 80
                        }, 
                                                                                {
                            label: '地址',
                            name: 'address',
                            width: 80
                        }, 
                                                                                {
                            label: '电话',
                            name: 'phone',
                            width: 80
                        }, 
                                                                                {
                            label: '航线',
                            name: 'route',
                            width: 80
                        }
                                    ],
            viewrecords: true,
            height: 385,
            rowNum: 10,
            rowList: [10, 30, 50],
            rownumbers: true,
            rownumWidth: 25,
            autowidth: true,
            multiselect: true,
            pager: "#ref_gridpager_ship",
            jsonReader: {
                root: "page.list",
                page: "page.currPage",
                total: "page.totalPage",
                records: "page.totalCount"
            },
            prmNames: {
                page: "page",
                rows: "limit",
                order: "order"
            },
            beforeSelectRow: function () {
                if (!mutiflag) {
                    $("#ref_grid_ship").jqGrid('resetSelection');
                }
                return (true);
            },
            gridComplete: function () {
                //隐藏grid底部滚动条
                //$("#jqGrid").closest(".ui-jqgrid-bdiv").css({ "overflow-x" : "hidden" });
            }
        });

    });
</script>
