<!DOCTYPE html>
<html>
<head>
    <title>船舶计划表</title>
        <% include ("/sys/header.html") {} %>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <%if(shiro.hasPermission("shipplan:save")) {%>
            <button class="layui-btn layui-btn-small layui-btn-normal" v-on:click="add"><i class="fa fa-plus"></i>&nbsp;新增
            </button>
            <%}%>
            <%if(shiro.hasPermission("shipplan:update")) {%>
            <button class="layui-btn layui-btn-small layui-btn-normal" v-on:click="update"><i
                    class="fa fa-pencil-square-o"></i>&nbsp;修改
            </button>
            <%}%>
            <%if(shiro.hasPermission("shipplan:delete")) {%>
            <button class="layui-btn layui-btn-small layui-btn-normal" v-on:click="del"><i class="fa fa-trash-o"></i>&nbsp;删除
            </button>
            <%}%>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
                                                                            <div class="form-group">
                        <div class="col-sm-2 control-label">英文船名</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shipplan.enshipname"
                                   placeholder="英文船名"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">中文船名</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shipplan.chshipname"
                                   placeholder="中文船名"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">出口航次</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shipplan.expvoyage"
                                   placeholder="出口航次"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">进口航次</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shipplan.impvoyage"
                                   placeholder="进口航次"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">到港状态</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shipplan.arrivalstate"
                                   placeholder="到港状态"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">预计到港日期</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shipplan.arrivaldate"
                                   placeholder="预计到港日期"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">船舶呼号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shipplan.shipid"
                                   placeholder="船舶呼号"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">IMO编号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shipplan.imono"
                                   placeholder="IMO编号"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">码头代码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shipplan.dockcode"
                                   placeholder="码头代码"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">码头名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shipplan.dockname"
                                   placeholder="码头名称"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">靠泊单位</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shipplan.dockunit"
                                   placeholder="靠泊单位"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">航线</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shipplan.route"
                                   placeholder="航线"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">预计到港时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shipplan.arrivaltime"
                                   placeholder="预计到港时间"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">预计离港时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shipplan.leavetime"
                                   placeholder="预计离港时间"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">船期</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shipplan.shipment"
                                   placeholder="船期"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">备注</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shipplan.remark"
                                   placeholder="备注"/>
                        </div>
                    </div>
                                        <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" v-on:click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" v-on:click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${ctxPath}/static/js/base/shipplan.js"></script>
</body>
</html>