<!DOCTYPE html>
<html>
<head>
    <title>仓库管理</title>
        <#include "sys/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="panel-heading">
            <el-button-group>
            <@shiro.hasPermission name="store:list">
            <el-button type="primary" v-on:click="query"><i class="fa fa-search"></i>&nbsp;查询
            </el-button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="store:save">
            <el-button type="primary" v-on:click="add"><i class="fa fa-plus"></i>&nbsp;新增
            </el-button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="store:update">
            <el-button type="primary" v-on:click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改
            </el-button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="store:delete">
            <el-button type="primary" v-on:click="del"><i class="fa fa-trash-o"></i>&nbsp;删除
            </el-button>
            </@shiro.hasPermission>
            </el-button-group>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">
            <el-row>
                <el-col :span="14">
            <el-button-group>
                <el-button type="primary"  v-on:click="saveOrUpdate"><i class="fa fa-save"></i>&nbsp;保存</el-button>
                <el-button type="primary"  v-on:click="reload"><i class="fa fa-times"></i>&nbsp;返回</el-button>
            </el-button-group>
                </el-col>
                <el-col :span="10">
                    
                </el-col>
            </el-row>
        </div>
        <el-form label-position="right"  label-width="80px" style="padding:10px">

                                                                            <el-form-item label="编码">


                                                            <el-input style="width: 350px"  v-model="store.code" placeholder="编码"></el-input>


                              
                    </el-form-item>
                                                                <el-form-item label="名称">


                                                            <el-input style="width: 350px"  v-model="store.name" placeholder="名称"></el-input>


                              
                    </el-form-item>
                                                                <el-form-item label="联系人">


                                                            <el-input style="width: 350px"  v-model="store.linkman" placeholder="联系人"></el-input>


                              
                    </el-form-item>
                                                                <el-form-item label="联系电话">


                                                            <el-input style="width: 350px"  v-model="store.phone" placeholder="联系电话"></el-input>


                              
                    </el-form-item>
                                                                <el-form-item label="地址">


                                                            <el-input style="width: 350px"  v-model="store.address" placeholder="地址"></el-input>


                              
                    </el-form-item>
                                                                <el-form-item label="经度">


                                                            <el-input style="width: 350px"  v-model="store.longitude" placeholder="经度"></el-input>


                              
                    </el-form-item>
                                                                <el-form-item label="纬度">


                                                            <el-input style="width: 350px"  v-model="store.latitude" placeholder="纬度"></el-input>


                              
                    </el-form-item>
                            
        </el-form>
    </div>
</div>


                                                                                                    

<script src="${ctxPath}/static/js/base/store.js"></script>
</body>
</html>