<div id="ref_transline" style="display: none;padding:10px;">
    <table id="ref_grid_transline"></table>
    <div id="ref_gridpager_transline"></div>
</div>
<script>
    var mutilflag = false;
    function showrefgrid_transline(title, callback, pflag) {
        mutiflag = pflag || false;
        layer.open({
            type: 1,
            offset: '50px',
            skin: 'layui-layer-molv',
            title: title,
            area: ['450px', '450px'],
            shade: 0,
            shadeClose: false,
            content: jQuery("#ref_transline"),
            btn: ['确定', '取消'],
            btn1: function (index) {
                var row = getSelectedRowData("ref_grid_transline");
                if (callback) {
                    callback(row);
                }

                layer.close(index);
            }
        });
    }


    $(function () {
        $("#ref_grid_transline").jqGrid({
            url: '../transline/list',
            datatype: "json",
            colModel: [
                                                            {label: 'id', name: 'id', width: 50, key: true},
                                                                                {
                            label: '编码',
                            name: 'code',
                            width: 80
                        }, 
                                                                                {
                            label: '起始地点',
                            name: 'startlocation',
                            width: 80
                        }, 
                                                                                {
                            label: '结束地点',
                            name: 'endlocation',
                            width: 80
                        }, 
                                                                                {
                            label: '距离',
                            name: 'distance',
                            width: 80
                        }, 
                                                                                {
                            label: '助记码',
                            name: 'helpcode',
                            width: 80
                        }
                                    ],
            viewrecords: true,
            height: 385,
            rowNum: 10,
            rowList: [10, 30, 50],
            rownumbers: true,
            rownumWidth: 25,
            autowidth: true,
            multiselect: true,
            pager: "#ref_gridpager_transline",
            jsonReader: {
                root: "page.list",
                page: "page.currPage",
                total: "page.totalPage",
                records: "page.totalCount"
            },
            prmNames: {
                page: "page",
                rows: "limit",
                order: "order"
            },
            beforeSelectRow: function () {
                if (!mutiflag) {
                    $("#ref_grid_transline").jqGrid('resetSelection');
                }
                return (true);
            },
            gridComplete: function () {
                //隐藏grid底部滚动条
                //$("#jqGrid").closest(".ui-jqgrid-bdiv").css({ "overflow-x" : "hidden" });
            }
        });

    });
</script>
