<!DOCTYPE html>
<html>
<head>
    <title>预算计划主表</title>
        <% include ("/sys/header.html") {} %>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <%if(shiro.hasPermission("budgetform:save")) {%>
            <button class="layui-btn layui-btn-small layui-btn-normal" v-on:click="add"><i class="fa fa-plus"></i>&nbsp;新增
            </button>
            <%}%>
            <%if(shiro.hasPermission("budgetform:update")) {%>
            <button class="layui-btn layui-btn-small layui-btn-normal" v-on:click="update"><i
                    class="fa fa-pencil-square-o"></i>&nbsp;修改
            </button>
            <%}%>
            <%if(shiro.hasPermission("budgetform:delete")) {%>
            <button class="layui-btn layui-btn-small layui-btn-normal" v-on:click="del"><i class="fa fa-trash-o"></i>&nbsp;删除
            </button>
            <%}%>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
                                                                            <div class="form-group">
                        <div class="col-sm-2 control-label">单据号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="budgetform.billno"
                                   placeholder="单据号"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">计划开始日期</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="budgetform.begindate"
                                   placeholder="计划开始日期"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">计划结束日期</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="budgetform.enddate"
                                   placeholder="计划结束日期"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">部门</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="budgetform.deptId"
                                   placeholder="部门"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">预算类型</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="budgetform.billtype"
                                   placeholder="预算类型"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">状态</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="budgetform.billstatus"
                                   placeholder="状态"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">制单人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="budgetform.mkuser"
                                   placeholder="制单人"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">制单日期</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="budgetform.mkdate"
                                   placeholder="制单日期"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">审核人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="budgetform.accuser"
                                   placeholder="审核人"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">审核日期</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="budgetform.accdate"
                                   placeholder="审核日期"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">签批人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="budgetform.rzuser"
                                   placeholder="签批人"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">签批日期</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="budgetform.rzdate"
                                   placeholder="签批日期"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">更新时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="budgetform.uptdate"
                                   placeholder="更新时间"/>
                        </div>
                    </div>
                                        <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" v-on:click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" v-on:click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${ctxPath}/static/js/budgetform/budgetform.js"></script>
</body>
</html>