<div id="ref_feeinfo" style="display: none;padding:10px;">
    <table id="ref_grid_feeinfo"></table>
    <div id="ref_gridpager_feeinfo"></div>
</div>
<script>
    var mutilflag = false;
    function showrefgrid_feeinfo(title, callback, pflag) {
        mutiflag = pflag || false;
        layer.open({
            type: 1,
            offset: '50px',
            skin: 'layui-layer-molv',
            title: title,
            area: ['450px', '450px'],
            shade: 0,
            shadeClose: false,
            content: jQuery("#ref_feeinfo"),
            btn: ['确定', '取消'],
            btn1: function (index) {
                var row = getSelectedRowData("ref_grid_feeinfo");
                if (callback) {
                    callback(row);
                }

                layer.close(index);
            }
        });
    }


    $(function () {
        $("#ref_grid_feeinfo").jqGrid({
            url: '../feeinfo/list',
            datatype: "json",
            colModel: [
                                                            {label: 'id', name: 'id', width: 50, key: true},

                                                                                {
                            label: '上级费用',
                            name: 'parentId',
                            width: 80
                        }, 
                                                                                {
                            label: '编码',
                            name: 'code',
                            width: 80
                        }, 
                                                                                {
                            label: '名称',
                            name: 'name',
                            width: 80
                        }, 
                                                                                { label: '类型', name: 'enumvaluename', width: 80 }, 
                                                                                { label: '收付款', name: 'enumvaluename', width: 80 }, 
                                                                                { label: '线路', name: 'name', width: 80 }, 
                                                                                { label: '箱型', name: 'boxsize', width: 80 }, 
                                                                                {
                            label: '标准单价',
                            name: 'price',
                            width: 80
                        }, 
                                                                                {
                            label: '标准成本',
                            name: 'cost',
                            width: 80
                        }, 
                                                                                {
                            label: '备注',
                            name: 'remark',
                            width: 80
                        }, 
                                                                                {
                            label: '状态',
                            name: 'status',
                            width: 80
                        }, 
                                                                                { label: '节点类型', name: 'enumvaluename', width: 80 }, 
                                                                                {
                            label: '更新时间',
                            name: 'uptdate',
                            width: 80
                        }
                                    ],
            viewrecords: true,
            height: 385,
            rowNum: 10,
            rowList: [10, 30, 50],
            rownumbers: true,
            rownumWidth: 25,
            autowidth: true,
            multiselect: true,
            pager: "#ref_gridpager_feeinfo",
            jsonReader: {
                root: "page.list",
                page: "page.currPage",
                total: "page.totalPage",
                records: "page.totalCount"
            },
            prmNames: {
                page: "page",
                rows: "limit",
                order: "order"
            },
            beforeSelectRow: function () {
                if (!mutiflag) {
                    $("#ref_grid_feeinfo").jqGrid('resetSelection');
                }
                return (true);
            },
            gridComplete: function () {
                //隐藏grid底部滚动条
                //$("#jqGrid").closest(".ui-jqgrid-bdiv").css({ "overflow-x" : "hidden" });
            }
        });

    });
</script>
