<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
	</head>

	<body>
		<div id="rrapp">
			<rc-header :title="needaudit ? '审批':'订单详情'" btn=""></rc-header>
			<div class="mui-content">
			<div class="mui-scroll" style="padding-bottom: 60px;">
				<div style="position: relative; padding-top: 10px;background: #fff;">
					<img style="height: 42px; position:relative;margin-left: 11px;margin-right: 10px;" class="" :src="getbillicon(item.type)">
					<span class="vertical-center mui-h4" style="position:absolute;">{{getbillname(item.type)+"审批"}}</span>
				</div>


				<form class="mui-input-group">
					
					<div class="mui-input-row" v-for="item in list">
						<label>{{item.name}}</label> 
						<input type="text" class=" mui-input mui-text-right" placeholder="" readonly="readonly" v-model='item.value'>
					</div>
					

				</form>
				<rc-comments :billno="billno" ></rc-comments> 
				</div>
				
				<rc-audit v-if="needaudit" :complete="complete" :item="item" ></rc-audit>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/app.js"></script>
		<script type="text/javascript">
			mui.init();
			var vm = new Vue({
				el: '#rrapp',
				data: {
					item: '',
					list:[],
					billno: '',
				needaudit:false,
				},
				watch:{
					item:function(){
						this.list = this.getlist();
					}
				},
				methods: {
					
					complete: function() {
						plus.webview.currentWebview().opener().reload();
						//location.reload();
						mui.back();
					},
					getlist:function(){						
						switch(this.item.type)
						{
							case 'leave':return this.getleave();
							case 'contract': return this.getcontract();
							default: return this.getorder();
							
						}
						
					},
					getleave:function(){
						var i = this.item;
						i.leavedays =function(){
							var startTime = new Date(starttime).getTime();
						var endTime = new Date(endtime).getTime();
						var dates = Math.abs((startTime - endTime)) / (1000 * 60 * 60 * 24);
						return dates + "天";
						}
						return [
						{name:"申请单号",value:i.billno},
						{name:"申请人",value:i.useridfullname},
						{name:"开始时间",value:i.starttime},
						{name:"结束时间",value:i.endtime},
						{name:"部门",value:i.deptidname},
						{name:"请假天数",value:i.total},
						{name:"请假类型",value:i.leavetypeenumvaluename},
						{name:"请假原因",value:i.reason},						
						];
					},
					getorder:function(){
						var i = this.item;
						return [
						 {name:"单据号",value:i.billno},
                                        {name:"供应商",value:i.supplyid},
                                        {name:"请购单据号",value:i.reqbillno},
                                        {name:"请购人",value:i.requserfullname},
                                        {name:"请购部门",value:i.deptidname},
                                        {name:"请购日期",value:i.reqdate},
                                        {name:"订购单来源",value:i.ordersourceenumvaluename},
                                        {name:"订购类别",value:i.ordertypeenumvaluename},
                                        {name:"预算计划",value:i.budgetmainid},
                                        {name:"总金额",value:i.total},
                                        {name:"已支付金额",value:i.paytotal},
                                        {name:"单据状态",value:i.billstatusenumvaluename},
                                        {name:"备注",value:i.remark},
                                        {name:"制单人",value:i.makeuserfullname},
                                        {name:"制单日期",value:i.makedate},
                                        {name:"审核人",value:i.accuserfullname},
                                        {name:"审核日期",value:i.accdate},
                                        {name:"更新时间",value:i.uptdate},					
						];
					},
					getcontract:function(){
						var i = this.item;
						return [
						    
                    {name:"单据号",value:i.billno}, 
                                        {name:"订购单据号",value:i.orderbillno},
                                        {name:"甲方",value:i.partyaid},
                                        {name:"乙方",value:i.partybid},
                                        {name:"合同来源",value:i.billsourceenumvaluename},
                                        {name:"收付款类型",value:i.billtypeenumvaluename},
                                        {name:"付款方式",value:i.paytypeenumvaluename},
                                        {name:"结算周期",value:i.paycircleidname},
                                        {name:"生效日期",value:i.bgndate},
                                        {name:"失效日期",value:i.enddate},
                                        {name:"备注",value:i.remark},
                                        {name:"单据状态",value:i.billstatusenumvaluename},
                                        {name:"制单人",value:i.makeuserfullname},
                                        {name:"制单日期",value:i.makedate},
                                        {name:"审核人",value:i.accuserfullname},
                                        {name:"审核日期",value:i.accdate},
                                        {name:"更新时间",value:i.uptdate},
                        

						];
					},
					
					
					
				}
			});

			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				vm.item = self.value;
				vm.needaudit = self.value1;
				vm.billno = vm.item.billno;

			});
		</script>
	</body>

</html>