<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
	</head>

	<body>
		<div id="rrapp">
			<rc-header title="审批" btn=""></rc-header>
			<div class="mui-content">

				<div style="position: relative; padding-top: 10px;background: #fff;">
					<img style="height: 42px; position:relative;margin-left: 11px;margin-right: 10px;" class="" :src="getbillicon(item.type)">
					<span class="vertical-center mui-h4" style="position:absolute;">{{getbillname(item.type)+"审批"}}</span>
				</div>

				<form class="mui-input-group">
					<div class="mui-input-row">
						<label>申请单号</label>
						<input i type="text" class=" mui-input mui-text-right" placeholder="" readonly="readonly" v-model='item.billno'>
					</div>
					<div class="mui-input-row">
						<label>申请人</label>
						<input type="text" class=" mui-input mui-text-right" placeholder="" readonly="readonly" v-model='item.useridfullname'>
					</div>
					<div class="mui-input-row">
						<label>请假开始时间</label>
						<input type="text" class=" mui-input mui-text-right" placeholder="" readonly="readonly" v-model='item.starttime'>
					</div>
					<div class="mui-input-row">
						<label>请假结束时间</label>
						<input type="text" class=" mui-input mui-text-right" placeholder="" readonly="readonly" v-model='item.endtime'>
					</div>
					<div class="mui-input-row">
						<label>部门</label>
						<input type="text" class=" mui-input mui-text-right" placeholder="" readonly="readonly" v-model='item.deptidname'>
					</div>
					<div class="mui-input-row">
						<label>请假天数</label>
						<input type="text" class=" mui-input mui-text-right" placeholder="" readonly="readonly" v-model='leavedays()'>
					</div>

					<div class="mui-input-row">
						<label>请假类型</label>
						<input type="text" class="mui-input mui-text-right" placeholder="" readonly="readonly" v-model='item.leavetypeenumvaluename'>
					</div>

				</form>
				<div>
					<button id="pass" class="mui-btn mui-btn-block mui-btn-warning btn-bottom" @click="reject" style="width: 50%;">驳回申请</button>
					<button class="mui-btn mui-btn-block mui-btn-green btn-bottom" v-on:click="pass" style="width: 50%;right: 0;">审批通过</button>

				</div>

			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/app.js"></script>
		<script type="text/javascript">
			mui.init();
			var vm = new Vue({
				el: '#rrapp',
				data: {
					item: '',

				},
				methods: {
					leavedays: function() {
						var startTime = new Date(this.item.starttime).getTime();
						var endTime = new Date(this.item.endtime).getTime();
						var dates = Math.abs((startTime - endTime)) / (1000 * 60 * 60 * 24);
						return dates+"天";
					},
					reject: function() {
						var btnArray = ['确定', '取消'];
						mui.prompt('请输入驳回意见', '请输入....', '', btnArray, function(e) {
							if(e.index == 0) {

							} else {

							}
						})
					},
					pass: function() {

						var btnArray = ['确定', '取消'];
						mui.prompt('确认审批通过', '请输入审批意见....', '', btnArray, function(e) {
							if(e.index == 0) {

							} else {

							}
						})
					}
				}
			});

			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				vm.item = self.value;

			});
		</script>
	</body>

</html>