<!DOCTYPE html>
<html>
<head>
    <title>空箱计划</title>
        <#include "sys/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="panel-heading">
            <el-button-group>
            <@shiro.hasPermission name="emptymain:list">
            <el-button type="primary" v-on:click="query"><i class="fa fa-search"></i>&nbsp;查询
            </el-button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="emptymain:save">
            <el-button type="primary" v-on:click="add"><i class="fa fa-plus"></i>&nbsp;新增
            </el-button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="emptymain:update">
            <el-button type="primary" v-on:click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改
            </el-button>
            </@shiro.hasPermission>
    <@shiro.hasPermission name="emptymain:audit">
    <el-button type="primary" v-on:click="audit"><i class="fa fa-pencil-square-o"></i>&nbsp;审核
    </el-button>
</@shiro.hasPermission>
            <@shiro.hasPermission name="emptymain:delete">
            <el-button type="primary" v-on:click="del"><i class="fa fa-trash-o"></i>&nbsp;删除
            </el-button>
            </@shiro.hasPermission>
            </el-button-group>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">
            <el-row>
                <el-col :span="14">
            <el-button-group>
                <el-button type="primary"  v-on:click="saveOrUpdate"><i class="fa fa-save"></i>&nbsp;保存</el-button>
                <el-button type="primary"  v-on:click="reload"><i class="fa fa-times"></i>&nbsp;返回</el-button>
            </el-button-group>
                </el-col>
                <el-col :span="10">
                                            <div class="billno">单据号:{{emptymain.billno}}<span class="panel-right">制单人:{{emptymain.makeuser}} 制单日期:{{emptymain.makedate}}</span></div>
                    
                </el-col>
            </el-row>
        </div>
        <el-form label-position="right"  label-width="80px" style="padding:30px">

                                                                            <el-form-item label="单据号">


                                                            <el-input style="width: 350px"  v-model="emptymain.billno" placeholder="单据号"></el-input>


                              
                    </el-form-item>
                                                                <el-form-item label="客户id">


                            
                                <input style="width: 350px" v-model="emptymain.orgidname" :click="selectorgidorganization"
                                          placeholder="客户id" class="el-input el-input__inner"></input>

                            
                    </el-form-item>
                                                                <el-form-item label="提单号">


                                                            <el-input style="width: 350px"  v-model="emptymain.ladingcode" placeholder="提单号"></el-input>


                              
                    </el-form-item>
                                                                <el-form-item label="船名">


                                                            <el-input style="width: 350px"  v-model="emptymain.shipname" placeholder="船名"></el-input>


                              
                    </el-form-item>
                                                                <el-form-item label="航次">


                                                            <el-input style="width: 350px"  v-model="emptymain.flight" placeholder="航次"></el-input>


                              
                    </el-form-item>
                                                                <el-form-item label="港口id">


                            
                                <input style="width: 350px" v-model="emptymain.portidname" :click="selectportidplace"
                                          placeholder="港口id" class="el-input el-input__inner"></input>

                            
                    </el-form-item>
                                                                <el-form-item label="箱量">


                                                            <el-input style="width: 350px"  v-model="emptymain.boxqty" placeholder="箱量"></el-input>


                              
                    </el-form-item>
                                                                <el-form-item label="箱型">


                                                            <el-select style="width: 350px" v-model="emptymain.boxtype"  filterable placeholder="请选择">
                                    <el-option
                                            v-for="item in ref_boxs"
                                            :key="item.id"
                                            :label="item.boxsize"
                                            :value="item.id">
                                    </el-option>
                                </el-select>
                            
                    </el-form-item>
                                                                <el-form-item label="提箱场站">


                            
                                <input style="width: 350px" v-model="emptymain.takeboxplaceidname" :click="selecttakeboxplaceidplace"
                                          placeholder="提箱场站" class="el-input el-input__inner"></input>

                            
                    </el-form-item>
                                                                <el-form-item label="目的地">


                            
                                <input style="width: 350px" v-model="emptymain.endplaceidname" :click="selectendplaceidplace"
                                          placeholder="目的地" class="el-input el-input__inner"></input>

                            
                    </el-form-item>
                                                                <el-form-item label="集港时间">


                            
                                    <el-date-picker style="width: 350px" type="datetime" placeholder="选择日期时间" :picker-options="pickerOptions1" v-model="emptymain.bgnshipdatetime" style="width: 100%;"></el-date-picker>

                            
                    </el-form-item>
                                                                <el-form-item label="截港时间">


                            
                                    <el-date-picker style="width: 350px" type="datetime" placeholder="选择日期时间" :picker-options="pickerOptions1" v-model="emptymain.endshipdatetime" style="width: 100%;"></el-date-picker>

                            
                    </el-form-item>
                                                                <el-form-item label="最早到场时间">


                            
                                    <el-date-picker style="width: 350px" type="datetime" placeholder="选择日期时间" :picker-options="pickerOptions1" v-model="emptymain.bgnplanarrtime" style="width: 100%;"></el-date-picker>

                            
                    </el-form-item>
                                                                <el-form-item label="最晚到场时间">


                            
                                    <el-date-picker style="width: 350px" type="datetime" placeholder="选择日期时间" :picker-options="pickerOptions1" v-model="emptymain.endplanarrtime" style="width: 100%;"></el-date-picker>

                            
                    </el-form-item>
                                                                <el-form-item label="备注">


                                                            <el-input style="width: 350px"  v-model="emptymain.remark" placeholder="备注"></el-input>


                              
                    </el-form-item>
                                                                <el-form-item label="单据状态">


                                                            <el-select style="width: 350px" v-model="emptymain.billstatus"  filterable placeholder="请选择">
                                    <el-option
                                            v-for="item in ref_enum1003"
                                            :key="item.enumvalueid"
                                            :label="item.enumvaluename"
                                            :value="item.enumvalueid">
                                    </el-option>
                                </el-select>


                             
                    </el-form-item>
                                                                <el-form-item label="制单人">


                                                            <el-input style="width: 350px"  v-model="emptymain.makeuser" placeholder="制单人"></el-input>


                              
                    </el-form-item>
                                                                <el-form-item label="制单日期">


                            
                                <el-date-picker style="width: 350px" type="date" placeholder="选择日期" :picker-options="pickerOptions1" v-model="emptymain.makedate" style="width: 100%;"></el-date-picker>
                            
                    </el-form-item>
                                                                <el-form-item label="审核人">


                                                            <el-input style="width: 350px"  v-model="emptymain.accuser" placeholder="审核人"></el-input>


                              
                    </el-form-item>
                                                                <el-form-item label="审核日期">


                            
                                <el-date-picker style="width: 350px" type="date" placeholder="选择日期" :picker-options="pickerOptions1" v-model="emptymain.accdate" style="width: 100%;"></el-date-picker>
                            
                    </el-form-item>
                                                                <el-form-item label="更新时间">


                            
                                <el-date-picker style="width: 350px" type="date" placeholder="选择日期" :picker-options="pickerOptions1" v-model="emptymain.uptdate" style="width: 100%;"></el-date-picker>
                            
                    </el-form-item>
                            
        </el-form>
    </div>
</div>


                                                <#include "buss/organization_ref.html"
                                                                    <#include "buss/place_ref.html"
                                                        <#include "buss/place_ref.html"
                                <#include "buss/place_ref.html"
                                                                                                                                                

<script src="${ctxPath}/static/js/buss/emptymain.js"></script>
</body>
</html>