<!DOCTYPE html>
<html>
<head>
    <title>空箱计划</title>
    <#include "sys/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <@shiro.hasPermission name="emptymain:list">
            <button class="layui-btn layui-btn-small layui-btn-normal" v-on:click="query"><i class="fa fa-search"></i>&nbsp;查询
            </button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="emptymain:save">
            <button class="layui-btn layui-btn-small layui-btn-normal" v-on:click="add"><i class="fa fa-plus"></i>&nbsp;新增
            </button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="emptymain:update">
            <button class="layui-btn layui-btn-small layui-btn-normal" v-on:click="update"><i
                    class="fa fa-pencil-square-o"></i>&nbsp;修改
            </button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="emptymain:update">
            <button class="layui-btn layui-btn-small layui-btn-normal" v-on:click="takebox"><i
                    class="fa fa-pencil-square-o"></i>&nbsp;放箱
            </button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="emptymain:audit">
            <button class="layui-btn layui-btn-small layui-btn-normal" v-on:click="accbill"><i
                    class="fa fa-pencil-square-o"></i>&nbsp;审核
            </button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="emptymain:delete">
            <button class="layui-btn layui-btn-small layui-btn-normal" v-on:click="del"><i class="fa fa-trash-o"></i>&nbsp;删除
            </button>
            </@shiro.hasPermission>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

<div v-show="!showList" class="panel panel-default">
    <div class="panel-heading">

        <el-row>
            <el-col :span="14">
                <el-button-group>
                    <el-button type="primary"  v-on:click="saveOrUpdate"><i class="fa fa-save"></i>&nbsp;保存</el-button>
                    <el-button type="primary"  v-on:click="reload"><i class="fa fa-times"></i>&nbsp;返回</el-button>
                </el-button-group>
            </el-col>
            <el-col :span="10">
                <div class="billno" >单据号:{{emptymain.billno}}<span class="panel-right">制单人:{{emptymain.makeuser}} 制单日期:{{emptymain.makedate}}</span>
                 </div>
            </el-col>
        </el-row>
    </div>
    <el-form label-position="right"  label-width="80px" style="padding:30px">


        <el-form-item label="客户id">


            <el-input v-model="emptymain.orgid" placeholder="客户id"></el-input>



        </el-form-item>
        <el-form-item label="提单号">


            <el-input v-model="emptymain.ladingcode" placeholder="提单号"></el-input>



        </el-form-item>
        <el-form-item label="船名">


            <el-input v-model="emptymain.shipname" placeholder="船名"></el-input>



        </el-form-item>
        <el-form-item label="航次">


            <el-input v-model="emptymain.flight" placeholder="航次"></el-input>



        </el-form-item>
        <el-form-item label="港口">


            <el-input v-model="emptymain.portid" placeholder="港口"></el-input>



        </el-form-item>
        <el-form-item label="箱量">


            <el-input v-model="emptymain.boxqty" placeholder="箱量"></el-input>



        </el-form-item>
        <el-form-item label="箱型">


            <el-input v-model="emptymain.boxtype" placeholder="箱型"></el-input>



        </el-form-item>
        <el-form-item label="提箱场站">


            <el-input v-model="emptymain.takeboxplaceid" placeholder="提箱场站"></el-input>



        </el-form-item>
        <el-form-item label="目的地">


            <el-input v-model="emptymain.endplaceid" placeholder="目的地"></el-input>



        </el-form-item>
        <el-form-item label="集港时间">



            <el-date-picker type="date" placeholder="选择日期" :picker-options="pickerOptions1" v-model="emptymain.bgnshipdate" style="width: 100%;"></el-date-picker>

        </el-form-item>
        <el-form-item label="截港时间">



            <el-date-picker type="date" placeholder="选择日期" :picker-options="pickerOptions1" v-model="emptymain.endshipdate" style="width: 100%;"></el-date-picker>

        </el-form-item>
        <el-form-item label="最早到场时间">



            <el-date-picker type="datetime" placeholder="选择日期时间" :picker-options="pickerOptions1" v-model="emptymain.bgnplanarrtime" style="width: 100%;"></el-date-picker>


        </el-form-item>
        <el-form-item label="最晚到场时间">



            <el-date-picker type="datetime" placeholder="选择日期时间" :picker-options="pickerOptions1" v-model="emptymain.endplanarrtime" style="width: 100%;"></el-date-picker>


        </el-form-item>
        <el-form-item label="备注">


            <el-input v-model="emptymain.remark" placeholder="备注"></el-input>



        </el-form-item>




    </el-form>
</div>
</div>
</div>
<#include ("/base/place_ref.html")>

<script src="${rc.contextPath}/static/js/buss/emptymain.js"></script>
</body>
</html>