<!DOCTYPE html>
<html>
<head>
    <title>待办事项</title>
        <#include "sys/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <template>
        <el-table id="jqGrid" class="rcp-table"
        :data="todolist">
            <el-table-column type="expand">
                <template scope="scope">
                    <div v-html="scope.row.htmldata" ></div>
                </template>
            </el-table-column>

            <el-table-column label="待办名称" prop="title">

            </el-table-column>

            <el-table-column label="申请人" prop="makeuserusername">

            </el-table-column>

            <el-table-column label="创建日期" prop="billdate">

            </el-table-column>
            <el-table-column label="操作" prop="billdate">
                <template scope="scope">
                <el-button type="success"
                        size="small"
                        @click="claim(scope.$index, scope.row)" :disabled="scope.row.billstatus">签收</el-button>
                  <el-button type="info"
                            size="small"
                            @click="audit(scope.$index, scope.row)">审核</el-button>

                </template>
            </el-table-column>


        </el-table>
    </template>
</div>
<#include "base/billcomments_ref.html">
<script src="${rc.contextPath}/static/js/buss/todolist.js"></script>
</body>
</html>